@import "tailwindcss";


@font-face {
  font-family: "Lufga";
  font-style: light;
  font-weight: 100;
  font-display: swap;
  src: url("/assets/fonts/LufgaExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Lufga";
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/LufgaLight.ttf") format("truetype");
}
@font-face {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/LufgaRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Lufga";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/LufgaItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Lufga";
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/LufgaMedium.ttf") format("truetype");
}
@font-face {
  font-family: "Lufga";
  font-style: bold;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/LufgaSemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Lufga";
  font-style: bolder;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/LufgaBold.ttf") format("truetype");
}
@font-face {
  font-family: "MoonDance";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/MoonDance-Regular.ttf") format("truetype");
}

@theme{
    --color-CremeEscuro: #656059;
    --color-CremeEscuro2: #81796f;
    --color-Creme: #d8d0c3;
    --color-CremeClaro:#e5e5e5;
    --text-Fluid: min(10vw,70px);
    --font-Lufga: "Lufga", sans-serif;
    --font-Moondance: "MoonDance", sans-serif;
}

@layer base{
    /* h1{
        color: green;
    } */
     a{
        color: white;
     }
     
     
}

 @layer components{ /* cards, footers, nav etc */
  .card{
    @apply relative bg-white border-CremeEscuro border-2 w-4/5 rounded-md py-5 px-16 my-8;
  }
  .card h1{
    @apply text-black text-[clamp(1.3rem,5vw,70px)] font-Lufga font-[600] antialiased  italic
  }  
  .card p{
    @apply text-black text-[clamp(1rem,4.9vw,40px)] font-Lufga font-[400] antialiased mt-2 italic
  }
  .card .badge{
  @apply absolute -top-0 -left-0  flex items-start justify-start
  }
  .card .badge .badgetexture{ /*TODO: 31/08 Melhorar as bordas nisso aqui pqp*/ /*00:42 01/09 Acho que consegui (?)*/ /*HORAS PERDIDAS NISSO ATÉ 01/09: 6HRS* 02/09: 7hrs*/
    @apply self-start h-4/10 w-2/10 text-CremeEscuro /*clip-path: path("M 0,0 L 60,0 L 46,5 L 46,40 L 46,40 A 24,19 0,0,1 0,40 L 0,0 Z")60x 60y*/
  }
  .card .badge .icons{
    @apply absolute h-6/10 w-3/10 text-white; transform: translate(-24%, 14%)
    }
  .itemcarrossel{
    @apply duration-700 ease-in-out
  }
  .datacarrossel{
    @apply text-end text-[clamp(0.5rem,2vw,20px)] mx-4 my-2 font-Lufga font-light text-gray-500
  }
}

/* @utility nome {
    exemplo:
    @apply flex justify-center items-center > aí no css é so colocar class="(nome)"
} */

/* TODO: FONTES NÃO FUNCIONAM */
@utility tituloMobile{
  @apply text-[clamp(1.5rem,7vw,70px)] font-Lufga font-bold antialiased;
}
@utility subtituloMobile{
  @apply text-[clamp(1.2rem,5.5vw,50px)] font-Lufga font-[780];
}
@utility textoMobile{
  @apply text-[clamp(1rem,4.9vw,40px)] font-Lufga font-bold my-3;
}
@utility textoBotao{
  @apply text-[clamp(1rem,4.9vw,40px)] font-Lufga font-bold text-start;
}
@utility textoMobileSelecionado{
  @apply text-[clamp(1rem,4.9vw,40px)] font-Lufga font-bold italic text-CremeEscuro;
}
@utility tituloSec{
  @apply text-[clamp(1.5rem,7vw,70px)] font-[var(--font-Moondance)] font-normal antialiased;
}


 
.hamburger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgb(255, 255, 255);
  margin: 3px 0;
  border-radius: 20%;
  transition: all 0.3s ease;
  transform-origin: 15%;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(0px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(0px);
}