@import "tailwindcss";


@font-face {
  font-family: "Lufga";
  font-style: light;
  font-weight: 100;
  font-display: swap;
  src: url("/assets/fonts/LufgaExtraLight.ttf") format("ttf");
}
@font-face {
  font-family: "Lufga";
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/LufgaLight.ttf") format("ttf");
}
@font-face {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/LufgaRegular.ttf") format("ttf");
}
@font-face {
  font-family: "Lufga";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/LufgaItalic.ttf") format("ttf");
}
@font-face {
  font-family: "Lufga";
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/LufgaMedium.ttf") format("ttf");
}
@font-face {
  font-family: "Lufga";
  font-style: bold;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/LufgaSemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Lufga";
  font-style: bolder;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/LufgaBold.ttf") format("ttf");
}
@font-face {
  font-family: "MoonDance";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/MoonDance-Regular.ttf") format("ttf");
}

@theme{
    --color-CremeEscuro: #656059;
    --color-Creme: #d8d0c3;
    --text-Fluid: min(10vw,70px);
    --font-lufga: "Lufga", sans-serif;
    --font-moondance: "MoonDance", sans-serif;
}

@layer base{
    /* h1{
        color: green;
    } */
     a{
        color: white;
     }
     
     
}

 @layer components{ /* cards, footers, nav etc */

}

/* @utility nome {
    exemplo:
    @apply flex justify-center items-center > aí no css é so colocar class="(nome)"
} */
 @utility tituloMobile{
  @apply text-[min(6vw,70px)] font-lufga font-[750];
 }
  @utility textoMobile{
  @apply text-[min(4.3vw,70px)] font-lufga font-bold;
 }
 
.hamburger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgb(255, 255, 255);
  margin: 3px 0;
  border-radius: 20%;
  transition: all 0.3s ease;
  transform-origin: 7%;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(0px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(0px);
}